<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'chat/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'chat/css/bootstrap.css' %}" media="screen">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
<form action="" method="POST" enctype="multipart/form-data">
    <input type="text" name="fileTitle" placeholder="Enter a title">
    <input type="file" name="uploadedFile">
    {% csrf_token %}
    <input id="chat-message-submit" type="submit" value="Upload">
</form>
<table>
    <tr>
        <th>Num</th>
        <th>Title</th>
        <th>Upload Date & Time</th>
    </tr>
    {% if exists.files %}
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td><a href="{{ file.uploadedFile.url }}" class="btn btn-outline-dark" role="button" download>
                    Download:

                    {% if post.get_file_ext == 'csv' %}
                        <i class="fas fa-file-csv"></i>
                    {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                        <i class="fas fa-file-excel"></i>
                    {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                        <i class="fas fa-file-word"></i>
                    {% elif post.get_file_ext == 'pdf' %}
                        <i class="fas fa-file-pdf"></i>
                    {% else %}
                        <i class="far fa-file"></i>
                    {% endif %}
                </a>{{ file.title }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{{ room_name|json_script:"room-name" }}
{{ user.username|json_script:"username" }}

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const username = JSON.parse(document.getElementById('username').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.username + ":" + " " + data.message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            "username": username,
            'message': message,
        }));
        messageInputDom.value = '';
    };

</script>
</body>
</html>
