{% extends 'homepage/basetem.html' %}
{% load static %}

{% block main_area %}
    <div id="main">
    <h3>회사 연혁</h3><hr>
        <div id="content">
            <p><img src="{% static 'homepage/bootstrap/images/연혁도.png' %}" width="500" height="350"><br></p>
        </div>
        <!--end content-->
        <div id="sidebar">
            <h3 class="sidebar-title">Want To Hire Joen Tree?</h3>
            <p>Our company is always recruiting Highflier.</p>
            <a class="sidebar-button" href="{% url 'contact' %}">Contact Us &raquo;</a></div>
        <div id="sidebar">
            <br>
            <h3 class="sidebar-title">About Joen Tree</h3>
            <ul class="sidebar-menu">
                <li><a href="/introduce">회사 소개</a><br></li>
                <li><a href="/history">회사 연혁</a><br></li>
                <li><a href="/business">경영 철학 및 핵심 가치</a><br></li>
                <li><a href="/map">찾아오시는 길</a><br></li>
                <li><a href="/notice">공지사항</a><br></li>
            </ul>
            </div>
    </div>

    <!--end main-->
{% endblock %}