{% extends 'homepage/basetem.html' %}
{% load static %}

{% block main_area %}
    <div id="main">
    <h3>찾아오시는 길</h3><hr>
        <div id="content">
            <div id="map" style="width:100%;height:350px;"></div>

            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7ec98c83f1faa88596b91351fcd549a1"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(35.8492, 127.1308), // 지도의 중심좌표(농생대1호관)
                        level: 3 // 지도의 확대 레벨
                    };

                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                var mapTypeControl = new kakao.maps.MapTypeControl();

                // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                // 지도를 클릭한 위치에 표출할 마커입니다
                var marker = new kakao.maps.Marker({
                    // 지도 중심좌표에 마커를 생성합니다
                    position: map.getCenter()
                });
                // 지도에 마커를 표시합니다
                marker.setMap(map);

                // 지도에 클릭 이벤트를 등록합니다
                // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
                kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

                    // 클릭한 위도, 경도 정보를 가져옵니다
                    var latlng = mouseEvent.latLng;

                    // 마커 위치를 클릭한 위치로 옮깁니다
                    marker.setPosition(latlng);

                    var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
                    message += '경도는 ' + latlng.getLng() + ' 입니다';

                    var resultDiv = document.getElementById('clickLatlng');
                    resultDiv.innerHTML = message;

                });
            </script>
            <p>전주시 덕진구 백제대로 567 전북대학교 전주캠퍼스 농업생명과학대학 1호관 303-1호</p>
            <br>
            <a href="https://map.kakao.com/"><img src="{% static 'homepage/bootstrap/images/오시는길.png' %}" width="855" height="340">▶️ 누르면 길찾기 앱으로 들어갑니다</a>
        </div>
        <!--end content-->
        <div class="aside">
        <div id="sidebar">
            <h3 class="sidebar-title">Want To Hire Joen Tree?</h3>
            <p>Our company is always recruiting Highflier.</p>
            <a class="sidebar-button" href="{% url 'contact' %}">Contact Us &raquo;</a></div>
        <div id="sidebar">
            <br>
            <h3 class="sidebar-title">About Joen Tree</h3>
            <ul class="sidebar-menu">
                <li><a href="/introduce">회사 소개</a><br></li>
                <li><a href="/history">회사 연혁</a><br></li>
                <li><a href="/business">경영 철학 및 핵심 가치</a><br></li>
                <li><a href="/map">찾아오시는 길</a><br></li>
                <li><a href="/notice">공지사항</a><br></li>
            </ul>
        </div></div>
        <!--end sidebar-->
    </div>
    <!--end main-->
{% endblock %}