{% extends 'homepage/basetem.html' %}
{% load static %}

{% block main_area %}
    <div id="main">
        <div id="content">
            {% for t in topics %}
                <div class="article">
                    <h3 class="article-title"><a href="#">{{ t.subject }}</a></h3>
                    <h3 class="article-meta">{{ t.writter.username }} / {{ t.last_updated }}</h3>
                    <p><a href="{% url 'single_page' pk=t.pk %}" class="more-link">Read Full Notice &raquo;</a></p></div>
                <div class="article-line">
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            <a href="{% url 'notice_create' %}" class="btn btn-info"><b>글 작성</b></a>
        </div>
        <!--end content-->
        <div id="sidebar">
            <div id="hire">
                <h3 class="sidebar-title">Want To Hire Joen Tree?</h3>
                <p>Joen Tree에서 함께할 가족을 찾습니다.</p>
                <a class="sidebar-button" href="contact">Contact Us &raquo;</a></div>
            <!--end hire-->
            <div id="featured-project">
                <h3>Featured Project</h3>
                <p>[ADD OVERVIEW]</p>
                <div class="portfolio-item"><a href="#"><img src="images/280x200.gif" alt=""/></a></div>
                <!--end portfolio-item-->
                <a class="sidebar-button" href="#">All Projects &raquo;</a></div>
            <!--end recent-projects-->
        </div>
        <!--end sidebar-->
    </div>
{% endblock %}