{% extends 'homepage/basetem.html' %}
{% load static %}

{% block main_area %}
    <div id="main">
        <h3>Joen Tree 프로젝트 : <mark>포트폴리오 생성 사이트</mark></h3><hr>
        <p>밑에 링크가 있습니다 :)</p>
        <div id="content">
            <p><img src="{% static 'homepage/bootstrap/images/port1.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port2.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port3.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port4.png' %}" width="600" height="337"></p><br>
            <a href="/single_pages">▶️▶️▶️▶️▶️▶️▶️<button class="btn-success">🎀 포트폴리오 생성 사이트 바로가기 🎀</button>◀️◀️◀️◀️◀️◀️◀️</a>
            <br><br><p>테마1 - 핑크베이지<img src="{% static 'homepage/bootstrap/images/스타일.png' %}" width="600" height="337"></p><br>
            <p>테마2 - 네이비<img src="{% static 'homepage/bootstrap/images/스타일1.png' %}" width="600"스타일2스타일2 height="337"></p><br>
            <p>테마3 - 그린<img src="{% static 'homepage/bootstrap/images/스타일2.png' %}" width="600" height="337"></p><br>
        </div>
        <!--end content-->
        <div class="aside">
        <div id="sidebar">
            <h3 class="sidebar-title">Want To Hire Joen Tree?</h3>
            <p>Our company is always recruiting Highflier.</p>
            <a class="sidebar-button" href="{% url 'contact' %}">Contact Us &raquo;</a></div></div>
        <!--end sidebar-->
    </div>
    <!--end main-->
{% endblock %}