{% extends 'homepage/basetem.html' %}
{% load static %}

{% block main_area %}
    <div id="main"><br>
        <div id="content">
            <p><img src="{% static 'homepage/bootstrap/images/port1.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port2.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port3.png' %}" width="600" height="337"></p><br>
            <p><img src="{% static 'homepage/bootstrap/images/port4.png' %}" width="600" height="337"></p><br>
            <a href="/single_pages"><button class="btn-success">포트폴리오 생성 사이트 바로가기</button></a>
        </div>
        <!--end content-->
        <div class="aside">
        <div id="sidebar">
            <h3 class="sidebar-title">Want To Hire Joen Tree?</h3>
            <p>Our company is always recruiting Highflier.</p>
            <a class="sidebar-button" href="{% url 'contact' %}">Contact Us &raquo;</a></div></div>
        <!--end sidebar-->
    </div>
    <!--end main-->
{% endblock %}