{% extends 'single_pages/post_form_base.html' %}
{% load static %}
{% block header1 %}Delete Port{% endblock %}

{% block header %}<h1>Delete Port</h1>{% endblock %}

{% block main_area %}
<script>
    alert('삭제 버튼을 클릭하였습니다.')
</script>

<form action="" method="post">{% csrf_token %}
    <p>진짜 삭제할건가요? <br>"{{ object }}"?</p>

    <tr>
        <td><input type="submit" value="삭제" /></td>
        <td><a href="/single_pages"><input type="submit" value="취소" /></a></td>
    </tr>

</form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}