{% extends 'single_pages/post_form_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header1 %}Create New Port{% endblock %}

{% block header %}<h1>Create New Port</h1><h6>go back <a href="/single_pages">port list</a></h6>{% endblock %}

{% block main_area %}
    <h4><i>type 예시:</i><br><br>styles로 입력시
        <mark style="background-color:lightpink; color:Azure;">'핑크베이지 테마'</mark>
        ,&nbsp;
        styles1으로 입력시
        <mark style="background-color:darkblue; color:Azure;">'네이비테마'</mark>
        ,&nbsp;
        styles2로 입력시
        <mark style="background-color:green; color:Azure;">'그린테마'</mark>
    </h4>
    <br><br><br>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <table>
            {{ form | crispy }}

            <div id="port1">
                <tr>
                    <td colspan="2"><label for="id_port1_img">
                        👇🏻 port1에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port1_img" name="port1_img" accept="image/*"></td>
                </tr>
                <tr>

                    <th><label for="id_port1_title">Port1</label></th>
                    <td><input type="text" name="port1_title" id="id_port1_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port1">Port1</label></th>
                    <td><textarea class="form-control" id="id_port1" name="port1" rows='20' cols="100"
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <input type="button" value="삭제" onclick="remove_item(this)">
            </div>
            <br>


            <div id="port2">
                <tr>
                    <td colspan="2"><label for="id_port2_img">
                        👇🏻 port2에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port2_img" name="port2_img" accept="image/*"></td>
                </tr>
                <tr>
                    <th><label for="id_port2_title">Port2</label></th>
                    <td><input type="text" name="port1_title" id="id_port2_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port2">Port2</label></th>
                    <td><textarea class="form-control" id="id_port2" name="port2" rows=20
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <br>
                <input type="button" value="삭제" onclick="remove_item(this)">
            </div>


            <div id="port3">
                <tr>
                    <td colspan="2"><label for="id_port3_img">
                        👇🏻 port3에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port3_img" name="port3_img" accept="image/*"></td>
                </tr>
                <tr>
                    <th><label for="id_port3_title">Port3</label></th>
                    <td><input type="text" name="port3_title" id="id_port3_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port3">Port3</label></th>
                    <td><textarea class="form-control" id="id_port3" name="port3" rows=20
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <input type="button" value="삭제" onclick="remove_item(this)">
            </div>
            <br>


            <div id="port4">
                <tr>
                    <td colspan="2"><label for="id_port4_img">
                        👇🏻 port4에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port4_img" name="port4_img" accept="image/*"></td>
                </tr>
                <tr>
                    <th><label for="id_port4_title">Port4</label></th>
                    <td><input type="text" name="port4_title" id="id_port4_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port4">Port4</label></th>
                    <td><textarea class="form-control" id="id_port4" name="port4" rows=20
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <input type="button" value="삭제" onclick="remove_item(this)">
            </div>
            <br>


            <div id="port5">
                <tr>
                    <td colspan="2"><label for="id_port5_img">
                        👇🏻 port5에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port5_img" name="port5_img" accept="image/*"></td>
                </tr>
                <tr>
                    <th><label for="id_port5_title">Port5</label></th>
                    <td><input type="text" name="port5_title" id="id_port5_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port5">Port5</label></th>
                    <td><textarea class="form-control" id="id_port5" name="port5" rows=20
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <input type="button" value="삭제" onclick="remove_item(this)">
            </div>
            <br>

            <div id="port6">
                <tr>
                    <td colspan="2"><label for="id_port6_img">
                        👇🏻 port6에 이미지 올리기 👇🏻
                    </label>
                        <br>
                        <input type="file" id="id_port6_img" name="port6_img" accept="image/*"></td>
                </tr>
                <tr>
                    <th><label for="id_port6_title">Port6</label></th>
                    <td><input type="text" name="port6_title" id="id_port6_title" placeholder="title"
                               class="form-control"></td>
                </tr>
                <tr>
                    <th><label for="id_port6">Port6</label></th>
                    <td><textarea class="form-control" id="id_port6" name="port6" rows=20
                                  class="textinput textInput form-control" placeholder="content"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="삭제" onclick="remove_item(this)"></td>
                     <td colspan="2"><div id="field"></div>
                         <input type="button" value=" 추가 " onclick="add_item()"><br></td>
                </tr>
            </div>
        </table>
        <br>

        <button type="submit" class="btn btn-primary float-right">Create</button>

        <script>
            function add_item1() {
                // pre_set 에 있는 내용을 읽어와서 처리..
                var div = document.createElement('div');
                div.innerHTML = document.getElementById('port1').innerHTML;
                document.getElementById('field').appendChild(div);
            }

            function remove_item1(obj) {
                // obj.parentNode 를 이용하여 삭제
                document.getElementById('field').removeChild(obj.parentNode);
            }
        </script>
    </form>

    {{ form.media }}
{% endblock %}