{% extends 'single_pages/post_form_base.html' %}
{% load static %}

{% block header1 %}Port List{% endblock %}

{% block header %}<h1>Porfolio List</h1>{% endblock %}

{% block main_area %}
<a href="{% url 'create' %}">
        <button style="cursor: crosshair">
            💖 포트폴리오 생성 💖
        </button>
    </a><br><br><br><br>
{% if posts.exists %}
    {% for p in posts %}
        <div>
            {% if p.head_image %}
                <div class="profile-user-img">
                    <img class='profile-user-img-img' src='{{ p.head_image.url }}' alt="profile-user-img"/><br><br>
                </div>
            {% endif %}
            <br>
            <h4 style="cursor: copy"><a href="{% url 'single_post_page' pk=p.pk %}">{{ p.name }}</a><br><br>{{ p.hook_text }}</h4>
            <br>
            <a href="{% url 'delete' pk=p.pk %}">
                <button>
                    삭제
                </button>
            </a>

            <a href="{% url 'update' pk=p.pk %}">
                <button>
                    수정
                </button>
            </a>
        </div>
        <br>
        <br><br><br><br>
    {% endfor %}
{% else %}
<h3>아직 게시물이 없습니다.</h3>
{% endif %}



    <br>

{% endblock %}