{% extends 'single_pages/post_form_base.html' %}
{% load static %}

{% block header1 %}Port List{% endblock %}

{% block header %}<h1>Porfolio List</h1>{% endblock %}

{% block main_area %}

{% for p in posts %}
    <div>
    <div class="profile-user-img">
    {% if p.head_image %}
        <img class='profile-user-img-img' src='{{ p.head_image.url }}'><br><br>
    {% endif %}
    </div>

    <h5><a href="{% url 'single_post_page' pk=p.pk %}">{{ p.name }}</a><br>{{ p.hook_text }}</h5>

    <a href="{% url 'delete' pk=p.pk %}">
        <button>
           삭제
        </button>
    </a>

    <a href="{% url 'update' pk=p.pk %}">
        <button>
           수정
        </button>
    </a>
    </div>
    <br>
    <br><br><br><br>
{% endfor %}


<br>
<a href="{% url 'create' %}">
<button>
    포트폴리오 생성
</button>
</a>
{% endblock %}