{% extends 'single_pages/baseport.html' %}
{% load static %}

<!-- Masthead-->
{% block head_area %}
    <form action="">
        <!-- Masthead Avatar Image-->
        {% if post.head_image %}
            <div class="profile-user-img">
                <img class="profile-user-img-img" src="{{ post.head_image.url }}" alt="profile-user-img">
            </div>
        {% endif %}
        <br>

        <!-- Masthead Heading-->
        {% if post.name %}
            <h1 class="masthead-heading text-uppercase mb-0 threeDEffect">{{ post.name }}</h1>
        {% endif %}
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        {% if post.hook_text %}
            <h2 class="masthead-subheading font-weight-light mb-0">{{ post.hook_text }}</h2>
        {% endif %}
    </form>
{% endblock %}

<!-- Portfolio Section-->
{% block port_area %}
    <!-- Portfolio Item 1-->
    {% if post.port1 %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port1_img %}
                    <img class="img-fluid" src="{{ post.port1_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Portfolio Item 2-->
    {% if post.port2 %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port2_img %}
                    <img class="img-fluid" src="{{ post.port2_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Portfolio Item 3-->
    {% if post.port3 %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port3_img %}
                    <img class="img-fluid" src="{{ post.port3_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Portfolio Item 4-->
    {% if post.port4 %}
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port4_img %}
                    <img class="img-fluid" src="{{ post.port4_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Portfolio Item 5-->
    {% if post.port5 %}
        <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port5_img %}
                    <img class="img-fluid" src="{{ post.port5_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- Portfolio Item 6-->
    {% if post.port6 %}
        <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                {% if post.port6_img %}
                    <img class="img-fluid" src="{{ post.port6_img.url }}" alt="..."/>
                {% else %}
                    <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block port1 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port1 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port1_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port1_img %}
            <img class="img-fluid" src="{{ post.port1_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->

        <p class="mb-4">{{ post.get_port1_markdown | safe }}<br></p>

        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}

<!-- Portfolio Modal 2-->
{% block port2 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port2 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port2_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port2_img %}
            <img class="img-fluid" src="{{ post.port2_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->
        <p class="mb-4">{{ post.get_port2_markdown | safe }}</p>
        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}

<!-- Portfolio Modal 3-->
{% block port3 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port3 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port3_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port3_img %}
            <img class="img-fluid" src="{{ post.port3_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->
        <p class="mb-4">{{ post.get_port3_markdown | safe }}</p>
        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}

<!-- Portfolio Modal 4-->
{% block port4 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port4 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port4_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port4_img %}
            <img class="img-fluid" src="{{ post.port4_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->
        <p class="mb-4">{{ post.get_port4_markdown | safe }}</p>
        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}


{% block port5 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port5 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port5_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port5_img %}
            <img class="img-fluid" src="{{ post.port5_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->
        <p class="mb-4">{{ post.get_port5_markdown | safe }}</p>
        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}

{% block port6 %}
    <!-- Portfolio Modal - Title-->
    {% if post.port6 %}
        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ post.port6_title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Modal - Image-->
        {% if post.port6_img %}
            <img class="img-fluid" src="{{ post.port6_img.url }}" alt="..."/>
        {% else %}
            <img class="img-fluid" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image"/>
        {% endif %}
        <!-- Portfolio Modal - Text-->
        <p class="mb-4">{{ post.get_port6_markdown | safe }}</p>
        <button class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fas fa-xmark fa-fw"></i>
            Close Window
        </button>
    {% endif %}
{% endblock %}

{% block mypic_area %}
    <div class="row">
        <div align="center">
            <p class="lead"><br>
            {% if post.profile_image %}
                <div class="profile-user-img">
                    <img class='profile-user-img-img' src='{{ post.profile_image.url }}' alt="profile-user-img"/><br><br>
                </div>
            {% endif %}
            <br><br>{{ post.get_about_me_markdown | safe }}
            </p>
        </div>
    </div>
{% endblock %}



